.App {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

form label {
  display: flex;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 375px) {
  form label {
    flex-flow: column;
  }
}

.dateTimePicker {
  display: flex;
}

.dateTimePicker input {
  width: 50%;
}

form label span {
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 2;
}

.persons {
  margin-top: 50px;
  font-size: 20px;
}

button,
input,
select {
  padding: 7px 13px;
  background: transparent;
  border: 2px solid #33333355;
  border-radius: 8px;
}

input[type="text"],
.dateTimePicker {
  width: calc(100% - 100px);
}

@media screen and (max-width: 375px) {
  input[type="text"],
  .dateTimePicker {
    width: 100%;
  }
}

input[type="date"] {
  border-radius: 8px 0 0 8px;
}

input[type="time"] {
  border-radius: 0 8px 8px 0;
  border-left: none;
}

button.remove {
  margin-left: 1rem;
}

.formFooter {
  display: flex;
}

.formFooter button {
  width: 50%;
  margin-top: 3px;
  min-height: 2.4rem;
}

.forms {
  display: flex;
}

@media screen and (min-width: 769px) {
  form:nth-of-type(2) {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .forms {
    flex-flow: column;
  }
  form:nth-of-type(2) {
    margin-top: 2rem;
  }
}

[title][role="img"] {
  cursor: help;
}

details {
  font-size: initial;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 1rem;
}

details li.past {
  color: darkred;
  text-decoration: line-through;
  opacity: 0.7;
}

summary {
  cursor: pointer;
}
