* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

@media (min-width: 768px) {
  body {
    max-width: 80vw;
  }
}

form label {
  display: flex;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 375px) {
  form label {
    flex-flow: column;
  }
}

.dateTimePicker {
  display: flex;
}

.dateTimePicker input[type="date"] {
  width: 55%;
}

.dateTimePicker input[type="time"] {
  width: 45%;
}

form label span {
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 2;
}

.persons {
  margin-top: 50px;
  font-size: 20px;
}

input[type="text"],
.dateTimePicker {
  width: calc(100% - 100px);
}

@media screen and (max-width: 375px) {
  input[type="text"],
  .dateTimePicker {
    width: 100%;
  }
}

button.remove {
  margin-left: 1rem;
  float: right;
}

.formFooter {
  display: flex;
}

.formFooter button {
  width: 50%;
  margin-top: 3px;
  min-height: 2.4rem;
}

.formFooter button[type="reset"] {
  margin-left: 0.5rem;
}

.forms {
  display: flex;
}

@media screen and (min-width: 769px) {
  form:nth-of-type(2) {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .forms {
    flex-flow: column;
  }
  form:nth-of-type(2) {
    margin-top: 2rem;
  }
}

[title][role="img"] {
  cursor: help;
  /* text-decoration: dotted underline; */
}

@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
  }
}

details {
  font-size: initial;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 1rem;
}

details li.past {
  color: darkred;
  text-decoration: line-through;
  opacity: 0.7;
}

summary {
  cursor: pointer;
  /* text-decoration: dotted underline; */
}

footer {
  margin-top: 5rem;
  font-size: 10pt;
}
